header {
    text-align: center;
    margin: 20px;
}

.camera { 
    text-align: center;
}

.panel-content {
    padding: 20px;
}

.answer {
    margin: 20px 0px;
}

.timer {
    font-size: 3em;
    font-weight: bold;
}