body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.camera { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
}
.panel { grid-area: 1 / 2 / 2 / 3; }